p{
	width:100px;
	margin-left:10px;
	margin-right:auto;
	margin-top:20px;
	font-weight: bold;
	font-style: italic;
	
}
.btn-danger{
	margin-top:5px;
	margin-bottom:5px;
}

table{
	
/* 	margin-left:20px;
	margin-right:20px;
	margin-top:20px; */
	background-color: white;
}
.margem{
	
	margin-left:15px;
	
} 

body{
	/* background-image:url("https://media.giphy.com/media/3o85xHHIuOXl0QzUWI/giphy.gif"); */
	background-size:cover;
	position:relative;
}

.espaco{
	font-size:20px;
	margin-top:5px;
	margin-bottom:5px;
	font-weight:bold;
	font-style: italic;
}