<!DOCTYPE html>

<html lang="pt-br" ng-app="angularApp">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<!-- Ícone do site no navegador -->
	<link rel="shortcut icon" href="./img/logo.png.ico" type="image/x-icon" />

	<title>LancerJobs.com</title>

	<!-- Links do AngularJS -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="./js/angularApp.js"></script>
	<script src="./js/perfilController.js"></script>
 
	<!-- Links do CSS -->
	<link href="./css/bootstrap.css" rel="stylesheet">
	<link href="./css/bootstrap-responsive.css" rel="stylesheet">
	<link href="./css/style.css" rel="stylesheet">
	<link href="./css/full-slider.css" rel="stylesheet">

	<script src="./js/jquery.js"></script>
	<script src="./js/bootstrap.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>

<body ng-controller="perfilController">
 
	<div id="header-row">
		<div class="container">
			<div class="row">
				<div class="span3">
					<a class="brand" href="index.html"><img src="./img/lancerjobs_logo_01.png"></a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
	 			<div class="span12">
					<div class="navbar  pull-right">
						<div class="navbar-inner">
							<a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
							
							<div class="nav-collapse collapse navbar-responsive-collapse">
								<ul class="nav">
	
									<!-- Menu -->
									<li class="active"><a href="index.html">Página Inicial</a></li>
									<li class="dropdown">
										<a href="http://shapebootstrap.net/demo/html/fornax/about.html" class="dropdown-toggle" data-toggle="dropdown">Sobre Nós <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="#">Empresa</a></li>
											<li><a href="#">Equipe</a></li>
											<li><a href="#">...</a></li>
										</ul>
									</li>
									<li><a href="#">Contato</a></li>
									
									<!-- Login -->
									<li>
										<form id="signin" class="navbar-form navbar-right" role="form" method="POST">
										    <div class="input-group">
												<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
													<input id="email" type="email" class="form-control" name="email" value="" placeholder="E-mail">                                        
													<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
													<input id="password" type="password" class="form-control" name="password" value="" placeholder="Senha">
												<button type="submit" class="btn btn-primary" onClick="validarLogin()">Entrar</button>
												<a href="register.html"><button type="button" class="btn btn-primary">Registre-se!</button></a>
										    </div>
										</form>
									</li>
									<!-- FIM Login -->
	
								</ul>
							</div>
						</div>
					</div>
				</div>			 
			</div>
		</div>
	</div>
	 
	<div class="container">
	
		<form class="form-horizontal">
			<fieldset>
				<div id="legend">
					<h2><b>Busca de Perfis Profissionais</b></h2><br/>
				</div>
				<div class="control-group">
					<label class="control-label" for="busca_user">Pesquisar por: </label>
					<div class="controls"><input type="text" id="busca_user" name="busca_user" placeholder="Palavras-chave da busca" class="input-xlarge"></div>
				</div>
				<div class="control-group">
					<label class="control-label" for="opcao_ord_user">Ordenar por: </label>
					<div class="controls">
						<select name="opcao_ord_user">
							<option value="">--Selecionar--</option>
						  	<option value="nome">Nome</option>
						  	<option value="ranking">Ranking</option>
						  	<option value="projconc">Projetos Concluídos</option>
						</select>
					</div>
				</div>
				<div class="control-group"><div class="controls">
					<button type="submit" class="btn btn-primary" nome="busca" ng-click="mostrarPerfil()">Pesquisar!</button>
				</div>
			</fieldset>
		</form>
	
		<div class="row feature-box">
			<div class="span12 cnt-title">
				
				<table class="table"  >
					<tr>
						<th> Nome do profissional</th>
						<th>Especialidade</th>
						<th>Projetos Concluídos</th>
						<th>Data de registro</th>
						<th>Visualizar Perfil</th>
					</tr>
					<tbody >
					<tr ng-repeat="perfil in perfilList">
					
						<td>{{perfil.nomeperfil}}</td>
						<td>{{perfil.especialidade}}</td>
						<td>{{cperfil.projConcluido}} </td>
						<td>{{prof.createdOn}}</td>
						<td><a href="perfil.html"><button type="button" class="btn btn-primary">Visualizar!</button></a></td>
					</tr>
					</tbody>
				</table>
				
			</div>
		</div>
	</div>
	 	 
	<footer>
		<div class="container">
			<div class="row">
				<div class="span6">Copyright © 2016 Equipe dos Primos | Todos os direitos reservados<br/>
					<small>Accenture - Academia Javascript - Maio/2016</small>
				</div>
				<div class="span6">
					<div class="social pull-right">
						<a href="#" target="blank_"><img src="./img/email.png" alt=""></a> <!-- Criar página de formulário de contato -->
						<a href="https://www.linkedin.com/" target="blank_"><img src="./img/linkedin.png" alt=""></a>
						<a href="https://www.facebook.com/" target="blank_"><img src="./img/facebook.png" alt=""></a>
						<a href="https://twitter.com/" target="blank_"><img src="./img/twitter.png" alt=""></a>
						<a href="https://www.youtube.com/" target="blank_"><img src="./img/youtube.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
 
</body>
</html>