<!DOCTYPE html>

<html lang="pt-br" ng-app="angularApp">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<!-- Ícone do site no navegador -->
	<link rel="shortcut icon" href="./img/logo.png.ico" type="image/x-icon" />

	<title>LancerJobs.com</title>

	<!-- Links do AngularJS -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="./js/angularApp.js"></script>
	<script src="./js/registroController.js"></script>
 
	<!-- Links do CSS -->
	<link href="./css/bootstrap.css" rel="stylesheet">
	<link href="./css/bootstrap-responsive.css" rel="stylesheet">
	<link href="./css/style.css" rel="stylesheet">

	<script src="./js/jquery.js"></script>
	<script src="./js/bootstrap.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>

<body ng-controller="registroController">
 
	<div id="header-row">
		<div class="container">
			<div class="row">
	 			<div class="span12">
	 				<img src="./img/banner_top.png">
					<div class="navbar  pull-right">
						<div class="navbar-inner">
							<a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
							
							<div class="nav-collapse collapse navbar-responsive-collapse">
								<ul class="nav">
	
									<!-- Menu -->
									<li class="active"><a href="index.html">Página Inicial</a></li>
									<li class="dropdown">
										<a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Sobre Nós <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="sobre_empresa.html">Empresa</a></li>
											<li><a href="sobre_equipe.html">Equipe</a></li>
										</ul>
									</li>
									<li class="dropdown">
										<a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Opções <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="cadastrar_perfil.html">Cadastrar Perfil Profissional</a></li>
											<li><a href="busca_perfil.html">Buscar Perfil Profissional</a></li>
											<li><a href="cadastrar_projeto.html">Anunciar Projeto</a></li>
											<li><a href="busca_projeto.html">Buscar Projeto</a></li>
											<li><a href="painel_controle.html">Painel de Controle do Usuário</a></li>
										</ul>
									</li>
									<li><a href="mailto:contato@lancerjobs.com">Contato</a></li>

									<li>
										<a href="index.html"><b>Fazer login!</b></a>
									</li>
									<li>
										<a href="register.html"><b>Registre-se!</b></a>
									</li>

								</ul>
							</div>
						</div>
					</div>
				</div>			 
			</div>
		</div>
	</div>
 
	<div class="container">
		<form class="form-horizontal" action='' method="POST">
			<fieldset>
				<div id="legend">
					<h2><b>Registro de Usuário</b></h2><br/>
				</div>
				<div class="control-group">
					<label class="control-label" for="nome">Nome: </label>
					<div class="controls"><input  type="text" ng-model="nome" class="input-xlarge"></div>
				</div>
				<div class="control-group">
					<label class="control-label" for="cpfCnpj">CPF ou CNPJ: </label>
					<div class="controls"><input  type="text" ng-model="cpfCnpj" class="input-xlarge"></div>
				</div>
				<div class="control-group">
					<label class="control-label" for="email">E-mail: </label>
					<div class="controls"><input  type="email" ng-model="email"  class="input-xlarge"></div>
				</div>
				<div class="control-group">
					<label class="control-label" for="senha">Senha: </label>
					<div class="controls"><input  type="password" ng-model="senha"  class="input-xlarge"></div>
				</div>
				<div class="control-group">
					<label class="control-label" for="confSenha">Confirmar senha: </label>
					<div class="controls"><input  type="password" ng-model="confSenha" class="input-xlarge"></div>
				</div>
				<div class="control-group"><div class="controls">
					<input  class="btn btn-primary"  type="button" value="Registrar" ng-click="registrar()"/>
				</div>
			</fieldset>
		</form>
	</div>
 
 
	<footer>
		<div class="container">
			<div class="row">
				<div class="span6">Copyright © 2016 Equipe dos Primos | Todos os direitos reservados<br/>
					<small>Accenture - Academia Javascript - Maio/2016</small>
				</div>
				<div class="span6">
					<div class="social pull-right">
						<a href="#" target="blank_"><img src="./img/email.png" alt=""></a> <!-- Criar página de formulário de contato -->
						<a href="https://www.linkedin.com/" target="blank_"><img src="./img/linkedin.png" alt=""></a>
						<a href="https://www.facebook.com/" target="blank_"><img src="./img/facebook.png" alt=""></a>
						<a href="https://twitter.com/" target="blank_"><img src="./img/twitter.png" alt=""></a>
						<a href="https://www.youtube.com/" target="blank_"><img src="./img/youtube.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
 
</body>
</html>